{% for private_npm_registry in variables.private_npm_registries %}
//{{ private_npm_registry.url|replace({'https://': ''})|trim('/', 'right') }}/:_authToken={{ private_npm_registry.auth_token }}
{{ private_npm_registry.scope }}:registry={{ private_npm_registry.url }}
{% endfor %}